<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Montserrat);
</style>
<table width="562" border="0" cellspacing="0" cellpadding="0" style="font-family: Montserrat, Arial, Helvetica, sans-serif;">
    <tbody>
        <tr>
            <td width="125"><img src="http://cyboticx.com/signature/Images/pic.png" width="125" height="125" alt=""></td>
            <td width="320" style="padding-left:20px;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="font-size:16px; color:#333333;">Nick Ganguly <span style="font-size:14px; color:#007fe6;">Founder @ Cyboticx</span></td>
                    </tr>
                    <tr>
                        <td style="font-size:11px; color:#999999; padding-top:6px; line-height:18px;">94 Beach St, Jersey City,
                            <br /> New Jersey, USA 07307</td>
                    </tr>
                    <tr>
                        <td valign="bottom" style="font-size:11px; color:#999999; line-height:20px; ">
                            <table style="font-size:11px; color:#999999; line-height:20px; padding-top:5px;" width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="6%"><img src="http://cyboticx.com/signature/Images/icon_phone.png" width="12" height="12" alt="" /></td>
                                    <td width="33%">+1 862.414.0886</td>
                                    <td width="6%"><img src="http://cyboticx.com/signature/Images/icon_mobile.png" width="12" height="12" alt="" /></td>
                                    <td width="55%">+1 862.290.4610</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="font-size:11px; color:#999999; line-height:20px; padding-top:0px;" width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="6%">
                                        <a href="mailto:craftbynick@gmail.com" style="color:#999; text-decoration:none;"><img style="vertical-align:central;" src="http://cyboticx.com/signature/Images/icon_email.png" width="12" height="12" alt="" /></a>
                                    </td>
                                    <td width="47%"><a href="mailto:craftbynick@gmail.com" style="color:#999; text-decoration:none;">craftbynick@gmail.com</a></td>
                                    <td width="6%">&nbsp;</td>
                                    <td width="41%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td><a href="http://nickganguly.com" target="_blank"><span style="font-size:11px; color:#999999; line-height:18px;"><img style="vertical-align:central;" src="http://cyboticx.com/signature/Images/icon_website.png" width="12" height="12" alt="" /></span></a></td>
                                    <td><a href="http://nickganguly.com" target="_blank" style="color:#999;  text-decoration:none;">www.nickganguly.com</a></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="117" style="border-left:solid 1px #999999; padding-left:15px;"><span style="padding-top:12px;"><a href="https://www.facebook.com/craftbynick" target="_blank"><img style="padding-right:5px;" src="http://cyboticx.com/signature/Images/icon_fb.png" width="15" height="15" alt="" /></a> <br /> <a href="https://twitter.com/craftbynick" target="_blank"><img style="padding-top:5px;" src="http://cyboticx.com/signature/Images/icon_tw.png" width="15" height="15" alt="" /></a> <br /> <a href="https://github.com/craftbynick" target="_blank"><img style="padding-top:5px;" src="http://cyboticx.com/signature/Images/icon_gh.png" width="15" height="15" alt="" /></a> <br /> <a href="https://www.behance.net/craftbynick" target="_blank"><img style="padding-top:5px;" src="http://cyboticx.com/signature/Images/icon_bh.png" width="15" height="15" alt="" /></a></span></td>
        </tr>
    </tbody>
</table>
